body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  background-color: #340c00;
  color: white;
  padding: 20px;
  text-align: center;
}

nav button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #ff5500;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.seccion {
  padding: 20px;
}

input, select, textarea {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 100%;
  max-width: 400px;
}

button[type="submit"] {
  background-color: #340c00;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #ff5500;
  color: white;
}